

<nav>
    <ul>
        <li>
            <button mat-button routerLink="cashRegister">Ταμειακή</button>
            <!-- <a routerLink="cashRegister">
                Ταμειακή
            </a> -->
        </li>
        <li>
            <button mat-button routerLink="history">Ιστορικό</button>
            <!-- <a routerLink="history">
            Ιστορικό
            </a> -->
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="settingsMenu">Ρυθμίσεις</button>

            <mat-menu #settingsMenu="matMenu">
                <button mat-menu-item routerLink="/">Προφίλ</button>
                <button mat-menu-item routerLink="/settings">Αποθέματα</button>
            </mat-menu>
        </li>
    </ul>
</nav>
