<span>Login</span>
<div class="login-form">
  <form name="registerForm" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="form-body">
        <label>
            Employee id:
            <input type="number" formControlName="emp_id" placeholder="0">
        </label>
        <br/>
        <label>
            Username:
            <input type="text" formControlName="username" placeholder="You know it">
        </label>
        <button mat-button type="submit">Login</button>
    </div>
  </form>
  <div *ngIf="!this.isLoginCredentialsCorrect" style="color:red;">
    There is no user with those credentials.
  </div>
</div>
