<div class="bg">
</div>
    @if(historyList.length > 0) {
    <div>
        <table>
            <thead>
                <tr class="entry_list">
                    <th class="entry_list">Receipt ID</th>
                    <th class="entry_list">User ID</th>
                    <th class="entry_list">Date</th>
                    <th class="entry_list">Total</th>
                    </tr>
            </thead>
            <tbody>
                <!-- @for(entry of historyList; track entry) { -->
                    <tr *ngFor="let entry of historyList; let i = index" class="entry_list">
                        <td class="entry_list">{{entry.receipt_id}}</td>
                        <td class="entry_list"> {{entry.user_id}}</td>
                        <td class="entry_list">{{entry.date.substring(0,10)}}</td>
                        <td class="entry_list total">{{entry.total}}</td>
                        <td class="entry_list">
                            <button class="buttons" (click)="showDetails(i)">Λεπτομέρειες</button>
                            <!-- <history-popup 
                                [itemList]="entry.lines"
                                [paid_total]="entry.total"
                            ></history-popup> -->
                        </td>
                    </tr>
                <!-- } -->
            </tbody>
        </table>      
    </div>
    @if (details === true) 
    {
        <div>
            <app-listing-input [lines]="historyList[indexForShow].lines" [paid_Total]="historyList[indexForShow].total" [buttonFLag]="false"></app-listing-input>
        </div>
        <button class="buttons" (click)="cleanUp()">Καθαρισμός</button>
    }}
    @else {
        <div>
            <h1>Empty History</h1>
        </div>
    }