<div class="register-form">
    <span>Register Page</span>
    <form name="" [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <div class="form-body">
            <label>
                Employee id:
                <input type="number" formControlName="emp_id" placeholder="0">
            </label>
            <br/>
            <label>
                Username:
                <input type="text" formControlName="username" placeholder="You know it">
            </label>
            <br/>
            <label>
                Firstname:
                <input type="text" formControlName="firstname" placeholder="Be">
            </label>
            <br/>
            <label>
                Lastname:
                <input type="text" formControlName="lastname" placeholder="Brave">
            </label>
            <button mat-button type="submit">Register</button>
        </div>
    </form>
</div>