<div class="bg">
</div>
<main class="form-signin">
    <h1 class="h3">Register</h1>
    <form name="" [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">

        <div class="form-floating">
            <input type="number" class="form-control" id="floatingInput" formControlName="emp_id" placeholder="0">
            <label for="floatingInput">
                Employee id:
            </label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="usernameInput" formControlName="username" placeholder="You know it">
            <label for="usernameInput">
                Username:
            </label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="firstnameInput" formControlName="firstname" placeholder="Be">
            <label for="firstnameInput">
                Firstname:
            </label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="lastnameInput" formControlName="lastname" placeholder="Brave">
            <label for="lastnameInput">
                Lastname:
            </label>
        </div>
        <div class="form-button">
            <button class="buttons" type="submit">Register</button>
        </div>
    </form>
</main>