@if(paid_Total > 0) {
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listingEntry of lines; let i = index;">
                <td>{{listingEntry.user_id}}</td>
                <td>{{listingEntry.description}}</td>
                <td>{{listingEntry.price}}</td>
                <td>{{listingEntry.quantity}}</td>
                <td>{{listingEntry.total}}</td>
                <td *ngIf="this.buttonFLag"><button (click)="deleteRow(listingEntry.product_id)">Αφαίρεση</button></td>
            </tr>
        
        </tbody>
    </table>
}