<table>
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{listing_body.user_id}}</td>
            <td>{{listing_body.body}}</td>
            <td>{{listing_body.price}}</td>
            <td>{{listing_body.quantity}}</td>
            <td>{{listing_body.total}}</td>
            <td><button (click)="deleteRow(listing_body.id)">Αφαίρεση</button></td>
        </tr>
    </tbody>
</table>