form{
    display: block;
}

ul {
    list-style: none;
    margin-top: 20px;
    
}
.list-container {
    display: grid;
}
.listing-li {
    
    border: 5px solid;
    width: 50%;
    padding: 10px;
}