.full_form{
    /* display:inline-block; */
    margin-left: 20px;
}

.all {
    display: flex;

}

.align_disc{
    display: inline-block;
}

ul {
    list-style: none;
    margin-top: 20px;
    
}

.list-container {
    display: grid;
}

.listing-li {
    
    border: 5px solid;
    width: 50%;
    padding: 10px;
}

.description_price {
    display: flex;
}

.price_label {
    margin-left: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons > button {
    margin-right: 20px;
}