<div class="settings">
    <form name="settingsForm">
        <div *ngFor="let entry of this.products; let i = index">
            <label>
                {{entry.description}} stock: 
                <input 
                    type="number"
                    min="0"  
                    max="100"
                    step="1" 
                    [value]="entry.stock"
                    (change)="onStockChange(i, $event)"
                /> 
            </label>
            <button type="button" (click)="updateInvetory()">Update Invetory</button>
           
        </div>
    </form>
</div>
<div *ngIf="errorval" class="invalid_input">Error: Invalid Input, Stock needs to be positive and no more than 100 items</div>
<div role="alert">
    @for(entry of this.products; track entry){
        <p> {{entry.description}} inventory: {{ entry.stock }}</p>
    }
</div>